.BoundChooseInout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: aliceblue;
}

.BoundChooseInout li {
  float: left;
  height: 80px;
  width: 120px;
  border: 2px solid white;
  padding: auto 10px;
  text-align: center;
  font-size: 25px;
  margin: auto 20px;
}
